PRODUCTION=true
FRONTEND_URL=https://nsm.mosaiq.dev
API_URL=https://api.nsm.mosaiq.dev
API_PORT=1025
DATABASE_DIR=/media/drive3/nsm/persistence
DATABASE_NAME=nsmdb.sqlite
DATABASE_LOGGING=false
NSM_WWW_PATH=/media/drive3/nsm/www
REPO_SANDBOX_PATH=/nsm/config/sandbox
NSM_PIPE_PATH=/etc/nsmexec
NSM_OUTPUT_PATH=/nsm/config/execout
CONTROL_PLANE_IP=192.168.1.206
GIT_SSH_KEY_DIR=/nsm/config/.ssh
GIT_SSH_KEY_FILE=id_ed25519
GITHUB_OAUTH_CALLBACK_URL=http://localhost:3001/auth/github
GITHUB_OAUTH_CLIENT_ID=123
GITHUB_OAUTH_CLIENT_SECRET=123
GITHUB_OAUTH_DEFAULT_USER=Camo651
